{% extends 'resume/base.html' %}
{% load static %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        {{ none }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">
                        {% if error %}
                            {{ error }}
                        {% else %}
                            {{ none }}
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    {% if e404%}
                        {% include 'resume/errors/error404_body.html' %}
                    {% elif e500 %}
                        {% include 'resume/errors/error500_body.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}