{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% include 'resume/header_settings.html' %}
</head>

<body>
    {% block content %}{% endblock %}
    {% include 'resume/footer_settings.html' %}
</body>
</html>