{% extends 'resume/base.html' %}
{% load static %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        {{ none }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">
                        {% if header %}
                            {{ header }}
                        {% else %}
                            {{ none }}
                        {% endif %}
                    </h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'resume/fields.html' %}
                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2" type="submit">Send Application</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}